<div
  class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
>
  <a href="#">
    <img
      class="p-8 rounded-t-lg"
      [src]="product.image"
      alt="product image"
      style="height: 100%"
    />
  </a>
  <div class="px-5 pb-5">
    <a href="#">
      <h5
        class="text-8xlxl font-semibold tracking-tight text-gray-900 dark:text-white"
      >
        {{ product.name }}
      </h5>
    </a>
    <div class="flex items-center mt-2.5 mb-5">
      Disponibles
      <span
        class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-3"
        >{{ product.stock }}</span
      >
    </div>
    <div class="flex items-center justify-between">
      <span class="text-3xl font-bold text-gray-900 dark:text-white"
        >${{ product.price }}</span
      >

      <div *ngIf="!product.isLike; else other_content">
        <button
        (click)="addToMyList(product.id)"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Me gusta
        </button>
      </div>

      <ng-template #other_content
        ><button
        (click)="delFromMyList(product.id)"
          class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800"
        >
          Ya no me gusta
        </button></ng-template
      >
    </div>
  </div>
</div>
